<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WEB CON BOOTSTRAP</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="./../CSS/estilo.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-success navbar-dark">
            <div class="container-lg">
              <a class="navbar-brand" href="#">MasterD</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="./../index.html">Inicio</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="./presupuesto.html">Presupuesto</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="./Productos.html">Productos</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="./contacto.html">Contacto</a>
                  </li>
                </ul>
              </div>
            </div>
        </nav>
    </header>

    <main>
        <section>
            <div class="container my-4 text-center">
                <h2>Bienvenido a nuestro web</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum atque iusto perferendis laborum, facilis beatae adipisci doloribus accusantium repellat aliquid impedit voluptatibus, a quis ducimus officia labore? In, nemo numquam.</p>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12 mb-4">
                        <img src="https://picsum.photos/800/425" class="grid img-fluid img-thumbnail" alt="rendom image">
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12 mb-4">
                        <img src="https://picsum.photos/800/430" class="grid img-fluid img-thumbnail" alt="rendom image">
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12 mb-4">
                        <img src="https://picsum.photos/800/435" class="grid img-fluid img-thumbnail" alt="rendom image">
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12 mb-4">
                        <img src="https://picsum.photos/800/440" class="grid img-fluid img-thumbnail" alt="rendom image">
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12 mb-4">
                        <img src="https://picsum.photos/800/445" class="grid img-fluid img-thumbnail" alt="rendom image">
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12 mb-4">
                        <img src="https://picsum.photos/800/450" class="grid img-fluid img-thumbnail" alt="rendom image">
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12 mb-4">
                        <img src="https://picsum.photos/800/455" class="grid img-fluid img-thumbnail" alt="rendom image">
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12 mb-4">
                        <img src="https://picsum.photos/800/460" class="grid img-fluid img-thumbnail" alt="rendom image">
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12 mb-4">
                        <img src="https://picsum.photos/800/465" class="grid img-fluid img-thumbnail" alt="rendom image">
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12 mb-4">
                        <img src="https://picsum.photos/800/470" class="grid img-fluid img-thumbnail" alt="rendom image">
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12 mb-4">
                        <img src="https://picsum.photos/800/475" class="grid img-fluid img-thumbnail" alt="rendom image">
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12 mb-4">
                        <img src="https://picsum.photos/800/480" class="grid img-fluid img-thumbnail" alt="rendom image">
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12 mb-4">
                        <img src="https://picsum.photos/800/485" class="grid img-fluid img-thumbnail" alt="rendom image">
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12 mb-4">
                        <img src="https://picsum.photos/800/490" class="grid img-fluid img-thumbnail" alt="rendom image">
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <div class="container bg-success">
            <div class="py-3">
              <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                <li class="nav-item"><a href="./../index.html" class="nav-link px-2 text-light">Inicio</a></li>
                <li class="nav-item"><a href="./presupuesto.html" class="nav-link px-2 text-light">Presupuesto</a></li>
                <li class="nav-item"><a href="./Productos.html" class="nav-link px-2 text-light">Productos</a></li>
                <li class="nav-item"><a href="./contacto.html" class="nav-link px-2 text-light">Contacto</a></li>
              </ul>
              <p class="text-center text-light">© 2025 Company, Inc</p>
            </div>
          </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>